USE [master]
GO
/****** Object:  Database [Lab03Tatischev]    Script Date: 22.02.2022 18:25:55 ******/
CREATE DATABASE [Lab03Tatischev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab03Tatischev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ITATV\MSSQL\DATA\Lab03Tatischev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab03Tatischev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ITATV\MSSQL\DATA\Lab03Tatischev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab03Tatischev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab03Tatischev]
GO
/****** Object:  Table [dbo].[aluminum]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aluminum](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[argon]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[argon](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calcium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calcium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carbon]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carbon](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[elements]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[elements](
	[atomic_number] [int] NULL,
	[full_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[helium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[helium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hydrogen]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hydrogen](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iron]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iron](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[krypton]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[krypton](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lithium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lithium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[magnesium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[magnesium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mercury]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mercury](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[neon]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[neon](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nitrogen]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nitrogen](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oxygen]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oxygen](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[potassium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[potassium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[silicon]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[silicon](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sodium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sodium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spectral_lines]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spectral_lines](
	[atomic_number] [float] NULL,
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[strontium]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[strontium](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sulfur]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sulfur](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xenon]    Script Date: 22.02.2022 18:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xenon](
	[wave_length] [float] NULL,
	[rel_intensity] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[aluminum] ([wave_length], [rel_intensity]) VALUES (3900.68, 450)
INSERT [dbo].[aluminum] ([wave_length], [rel_intensity]) VALUES (3932, 60)
INSERT [dbo].[aluminum] ([wave_length], [rel_intensity]) VALUES (3944, 4500)
GO
INSERT [dbo].[argon] ([wave_length], [rel_intensity]) VALUES (3925.72, 35)
INSERT [dbo].[argon] ([wave_length], [rel_intensity]) VALUES (3928.62, 50)
INSERT [dbo].[argon] ([wave_length], [rel_intensity]) VALUES (3932.55, 25)
GO
INSERT [dbo].[barium] ([wave_length], [rel_intensity]) VALUES (4053.71, 18)
INSERT [dbo].[barium] ([wave_length], [rel_intensity]) VALUES (4080.9615, 13)
INSERT [dbo].[barium] ([wave_length], [rel_intensity]) VALUES (4084.8673, 43)
GO
INSERT [dbo].[calcium] ([wave_length], [rel_intensity]) VALUES (3624.11, 15)
INSERT [dbo].[calcium] ([wave_length], [rel_intensity]) VALUES (3630.75, 17)
INSERT [dbo].[calcium] ([wave_length], [rel_intensity]) VALUES (3630.97, 14)
GO
INSERT [dbo].[carbon] ([wave_length], [rel_intensity]) VALUES (3918.98, 570)
INSERT [dbo].[carbon] ([wave_length], [rel_intensity]) VALUES (3920.69, 800)
INSERT [dbo].[carbon] ([wave_length], [rel_intensity]) VALUES (4074.52, 250)
GO
INSERT [dbo].[elements] ([atomic_number], [full_name]) VALUES (13, N'aluminum')
INSERT [dbo].[elements] ([atomic_number], [full_name]) VALUES (18, N'argon')
INSERT [dbo].[elements] ([atomic_number], [full_name]) VALUES (56, N'barium')
GO
INSERT [dbo].[helium] ([wave_length], [rel_intensity]) VALUES (3964.73, 20)
INSERT [dbo].[helium] ([wave_length], [rel_intensity]) VALUES (4009.27, 1)
INSERT [dbo].[helium] ([wave_length], [rel_intensity]) VALUES (4026.19, 50)
GO
INSERT [dbo].[hydrogen] ([wave_length], [rel_intensity]) VALUES (3970.07, 8)
INSERT [dbo].[hydrogen] ([wave_length], [rel_intensity]) VALUES (4101.74, 15)
INSERT [dbo].[hydrogen] ([wave_length], [rel_intensity]) VALUES (4340.47, 30)
GO
INSERT [dbo].[iron] ([wave_length], [rel_intensity]) VALUES (4005.24, 400)
INSERT [dbo].[iron] ([wave_length], [rel_intensity]) VALUES (4009.71, 60)
INSERT [dbo].[iron] ([wave_length], [rel_intensity]) VALUES (4014.53, 80)
GO
INSERT [dbo].[krypton] ([wave_length], [rel_intensity]) VALUES (3906.18, 150)
INSERT [dbo].[krypton] ([wave_length], [rel_intensity]) VALUES (3920.08, 200)
INSERT [dbo].[krypton] ([wave_length], [rel_intensity]) VALUES (3994.84, 100)
GO
INSERT [dbo].[lithium] ([wave_length], [rel_intensity]) VALUES (4132.56, 40)
INSERT [dbo].[lithium] ([wave_length], [rel_intensity]) VALUES (4132.62, 40)
INSERT [dbo].[lithium] ([wave_length], [rel_intensity]) VALUES (4273.07, 20)
GO
INSERT [dbo].[magnesium] ([wave_length], [rel_intensity]) VALUES (3903.86, 4)
INSERT [dbo].[magnesium] ([wave_length], [rel_intensity]) VALUES (3938.4, 6)
INSERT [dbo].[magnesium] ([wave_length], [rel_intensity]) VALUES (3984.21, 1)
GO
INSERT [dbo].[mercury] ([wave_length], [rel_intensity]) VALUES (4046.56, 1800)
INSERT [dbo].[mercury] ([wave_length], [rel_intensity]) VALUES (4077.83, 150)
INSERT [dbo].[mercury] ([wave_length], [rel_intensity]) VALUES (4108.05, 40)
GO
INSERT [dbo].[neon] ([wave_length], [rel_intensity]) VALUES (4219.74, 150)
INSERT [dbo].[neon] ([wave_length], [rel_intensity]) VALUES (4233.85, 100)
INSERT [dbo].[neon] ([wave_length], [rel_intensity]) VALUES (4250.65, 120)
GO
INSERT [dbo].[nitrogen] ([wave_length], [rel_intensity]) VALUES (3919, 360)
INSERT [dbo].[nitrogen] ([wave_length], [rel_intensity]) VALUES (3955.85, 450)
INSERT [dbo].[nitrogen] ([wave_length], [rel_intensity]) VALUES (3995, 1000)
GO
INSERT [dbo].[oxygen] ([wave_length], [rel_intensity]) VALUES (3911.96, 450)
INSERT [dbo].[oxygen] ([wave_length], [rel_intensity]) VALUES (3919.29, 160)
INSERT [dbo].[oxygen] ([wave_length], [rel_intensity]) VALUES (3947.29, 185)
GO
INSERT [dbo].[potassium] ([wave_length], [rel_intensity]) VALUES (3608.88, 5)
INSERT [dbo].[potassium] ([wave_length], [rel_intensity]) VALUES (3618.49, 6)
INSERT [dbo].[potassium] ([wave_length], [rel_intensity]) VALUES (3626.42, 4)
GO
INSERT [dbo].[silicon] ([wave_length], [rel_intensity]) VALUES (3905.52, 300)
INSERT [dbo].[silicon] ([wave_length], [rel_intensity]) VALUES (3955.74, 10)
INSERT [dbo].[silicon] ([wave_length], [rel_intensity]) VALUES (3977.46, 10)
GO
INSERT [dbo].[sodium] ([wave_length], [rel_intensity]) VALUES (3711.07, 850)
INSERT [dbo].[sodium] ([wave_length], [rel_intensity]) VALUES (4113.7, 300)
INSERT [dbo].[sodium] ([wave_length], [rel_intensity]) VALUES (4123.08, 250)
GO
INSERT [dbo].[spectral_lines] ([atomic_number], [wave_length], [rel_intensity]) VALUES (13, 390.068, 450)
INSERT [dbo].[spectral_lines] ([atomic_number], [wave_length], [rel_intensity]) VALUES (13, 393.20000000000005, 60)
INSERT [dbo].[spectral_lines] ([atomic_number], [wave_length], [rel_intensity]) VALUES (13, 394.40000000000003, 4500)
GO
INSERT [dbo].[strontium] ([wave_length], [rel_intensity]) VALUES (4030.38, 1300)
INSERT [dbo].[strontium] ([wave_length], [rel_intensity]) VALUES (4032.38, 300)
INSERT [dbo].[strontium] ([wave_length], [rel_intensity]) VALUES (4077.71, 46000)
GO
INSERT [dbo].[sulfur] ([wave_length], [rel_intensity]) VALUES (3902, 285)
INSERT [dbo].[sulfur] ([wave_length], [rel_intensity]) VALUES (3933.3, 360)
INSERT [dbo].[sulfur] ([wave_length], [rel_intensity]) VALUES (4120.8, 450)
GO
INSERT [dbo].[xenon] ([wave_length], [rel_intensity]) VALUES (3907.91, 100)
INSERT [dbo].[xenon] ([wave_length], [rel_intensity]) VALUES (4037.59, 100)
INSERT [dbo].[xenon] ([wave_length], [rel_intensity]) VALUES (4057.46, 200)
GO
USE [master]
GO
